:root {
    --text-color: #1a1a1a;
    --background-color: #ffffff;
    --surface-color: #e9e9e9;
}

html,
body {
    overflow: hidden;
    height: 100%;
}

html {
    font: 16px "Poppins", sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    color: var(--text-color);
    background-color: var(--background-color);
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 40px;
}

button {
    height: 2.5em;
    margin: 0;
    padding: 0 1em;
    border: none;
    border-radius: 8px;
    color: var(--text-color);
    background-color: var(--background-color);
    font: inherit;
}

[data-toggle] {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
}

@media (hover: hover) {
    button:hover {
        background-color: var(--surface-color);
    }
}

/* Themes */

.theme-dark {
    --text-color: #ffffff;
    --background-color: #1a1a1a;
    --surface-color: #292929;
}