:root {
    color-scheme: light;
    --text-color: #1a1a1a;
    --background-color: #ffffff;
    --hover-color: #ececec;
}

html,
body {
    overflow: hidden;
    height: 100%;
}

html {
    font: 16px "Poppins", sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    color: var(--text-color);
    background-color: var(--background-color);
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    height: 2.5em;
    margin: 0;
    padding: 0 1em;
    border: none;
    border-radius: 8px;
    color: var(--text-color);
    background-color: var(--background-color);
    font: inherit;
}

#primary {
    font-size: 40px;
    text-align: center;
}

#secondary {
    text-align: center;
}

[data-toggle] {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 3em;
    height: 3em;
    margin: 10px;
    padding: 0;
    line-height: 1em;
}

@media (hover: hover) {
    button:hover {
        background-color: var(--hover-color);
    }
}

span.material-symbols-outlined {
    pointer-events: none;
}

.theme-dark {
    color-scheme: dark;
    --text-color: #ffffff;
    --background-color: #1f1f1f;
    --hover-color: #292929;
}